.header {
  width: 100%;

  &--row {
    display: flex;
    flex-direction: row;
  }

  &--filters {
    justify-content: space-around;
    margin-top: 10px;
  }

  &--todo-input {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid lightgray;
    padding: 6px;
    width: 100%;
  }

  &--add-button {
    background: transparent;
    border-bottom-right-radius: 3px;
    border-left: 0;
    border-top-right-radius: 3px;
    border: 1px solid lightgray;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
  }
}
